# Class 
.class

# Classpath
.classpath

# Logs
logs
*.log

# Ignore VSCode
.vscode/
.vs/

# Git
.git

# Eclipse
.metadata
.settings/

# Config
**/database.properties

bin/
tmp/
dist/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

